# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/code/.vs/code/v15
/Design/.vs/Design/v15
/code/.vs/code/v16
/code/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0
/code/codeut/Debug
/code/Debug/gtest_main.pdb
/code/Debug/gtest.pdb
/code/Debug/codeut.pdb
/code/Debug/codeut.ilk
/code/Debug/code.ilk
